
$roze: #e62686;
$donker-roze: #ce1e76;
$salto-home: 950px;
$small-ipad: 758px;
$project-ipad: 1220px;
$iphone678: 375px;
$normal-radius: 10px;
$big-radius: 25px;

@mixin filter($filtering) {
  -webkit-filter: $filtering;
  -moz-filter: $filtering;
  -ms-filter: $filtering;
  -o-filter: $filtering;
  filter: $filtering;
}
@mixin transition($duration) {
  -webkit-transition: $duration;
  -moz-transition: $duration;
  -ms-transition: $duration;
  -o-transition: $duration;
  transition: $duration;
}

@mixin rounded($radius: 0.5em) {
-webkit-border-radius: $radius;
-moz-border-radius: $radius;
border-radius: $radius;
}

@mixin respond-to($media) {
  @if $media == salto-home {
    @media only screen and (max-width: $salto-home) { @content; }
  }
  @else if $media == small-ipad {
    @media only screen and (max-width: $small-ipad) { @content; }
  }
  @else if $media == project-ipad {
    @media only screen and (max-width: $project-ipad) { @content; }
  }
  @else if $media == iphone678 {
    @media only screen and (max-width: $iphone678) { @content; }
  }

}
* {margin: 0; padding: 0; list-style-type: none;}

a {text-decoration: none; color: black; &:hover{text-decoration: none;}}

html, body {
font-family: sans-serif;
 color: #333;
  font-size: 16px;
  /* background-color: red; */
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.wrapper{
  margin: -40px auto;
  max-width: 1200px;
}
.white-bg{
  background-color: white;

}
.titels{
  display: block;
  font-size: 2.5em;
  padding: 20px;
  text-align: center;
}
.video-home{
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: auto;
  background: rgba(0, 0, 0, 0.4);

  video{
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100vh;
  width: auto;
  height: auto;
  z-index: -10;
  transform: translateX(-50%) translateY(-50%);
  }
}

.wrap{
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.nav {
  position: fixed;
  z-index: 999;
  height: 60px;
  width: 100%;
  @include transition (0.3s);
  // background: rgba(5, 5, 5, 0.08);

  // background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.00));


}

.logo {
  float: left;
  line-height: 60px;
  color: white;
  font-weight: 500;
  padding-left: 1rem;
}
.logo span {
  font-size: .9em;
  font-weight: 700;
}
.logo img {
  vertical-align: middle;
  height: calc(60px - 1rem);
  margin-right: .5rem;

}

.top-menu {
  display: block;
  position: relative;
  float: right;
  @include transition (0.3s);
  font-weight: 300;
  height: 60px;
  margin-top: 0px;


}


.top-menu li {
  display: block;
  float: left;
  height: 60px;
}
.top-menu li a {
  display: block;
  height: 60px;
  line-height: 60px;
  text-decoration: none;
  color: #fff;
  padding: 0 1em;
  text-shadow: 0px 0px 1px #E6E6E6;
  font-size: 1.1em;
}



.scroll {
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);

}
.scroll .top-menu li a, .scroll .logo {
  color: black;
}

.landing-page-wrapper {
  width: 50vw;
  color: white;
  position: absolute;
  transform: translateY(-50%);
  top: 45%;
  text-shadow: 0px 0px 2px #aaa;
  @include respond-to(project-ipad) {  transform: translate(-50%, -50%); left: 50%; text-align: center;}
  @include respond-to(small-ipad) {  width: 100vw;}

  p {
    font-size: 1.2em;
  }
  h1 {
    font-size: 40px;
  }
  .home-page-btn{
    @include respond-to(iphone678) {  width: 70vw;  display: block; margin: 10px auto;}

  }
  #white-btn {
    @include respond-to(iphone678) {  width: 70vw;  display: block; margin: 10px auto;}

  }
}


.home-page-btn {
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: #e62686;
  padding: 15px;
  width: 180px;
  text-align: center;
  border-radius: 4px;
  margin-top: 10px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  @include transition (0.3s);
  text-shadow: none;
  &:hover{background-color: $donker-roze; color: white; text-decoration:none;}
}

#white-btn {
  background-color: white;
  color: black;
  margin-left: 15px;
  &:hover{background-color: #f9f9f9;}

}
#red-btn{

  background-color: #c6040f;
  color: white;
  margin-top: 20px;
}
.projectaanmelden{
  width: 100%;
  height: auto;
  margin: 100px auto;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 10px;
  float: left;
}


.insta-fotos{
  // background-color: red;
  overflow: hidden;
  margin: 5vh 0px 0px 0px;
  img{
    display: block;
    height: auto;
    width: 200px;
    background-position: center center;
    margin: 0 auto;
  }
}




// .team-member{
//   width: 95%;
//   margin: 0 auto;
//   border-radius: 10px;
//   box-shadow: 0px 0px 10px rgba(10,10,10,0.3);
//   text-align: center;
//   overflow: hidden;
//   @include transition (0.3s);
//   height: 400px;
//
// }
// .team-member:hover{
//
//   box-shadow: 0px 0px 18px rgba(10,10,10,0.4);
// }
// .person-img-blur:hover{
//   transform: scale(1.2);
//
// }
// .beschrijving{
//   margin: 0px 30px 20px 30px;
//   overflow-x: scroll;
//   height: 200px;
// }
// .person-img{
//   height: 200px;
//   background-size:cover;
//   border-bottom: 1px solid #dddddd;
//   border-top-left-radius: 10px;
//   border-top-right-radius: 10px;
//   width: 100%;
// }

////////////////CAROUSEL///////////////

.wrapper-carousel{
  margin-top: 4.5vh;
  text-align: center;
  position: relative;
  a{
    margin: 40px 0px 80px 0px;
  }
.arrow{
  position: absolute;
  z-index: 100;
  cursor: pointer;
  top: 34%;
  height: 50px;

  &.left{
    transform: rotate(90deg) translateY(-50%);
    left: 0;

  }
  &.right{
    transform: rotate(-90deg) translateY(-50%);
    right: 0;

  }
}

.card-carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.card-carousel .my-card {
  height: 200px;
  width: 350px ;
  position: relative;
  // z-index: 1;
  -webkit-transform: scale(0.6) translateY(-2rem);
  transform: scale(0.6) translateY(-2rem);
  opacity: 0;
  cursor: pointer;
  pointer-events: none;
  background: #2e5266;
  @include transition (1s);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  transform-origin: center center;
  cursor: pointer;
  @include rounded ($big-radius);


}


.card-carousel .my-card:nth-child(0):before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  /* font-size: 3rem;
  font-weight: 300; */
  color: #fff;

}

.card-carousel .my-card:nth-child(1):before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.card-carousel .my-card:nth-child(2):before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);

}

.card-carousel .my-card:nth-child(3):before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);

}



.card-carousel .my-card.active {
  z-index: 3;
  -webkit-transform: scale(1) translateY(0) translateX(0);
  transform: scale(1) translateY(0) translateX(0);
  opacity: 1;
  pointer-events: auto;
  transition: 1s;
  // // width: 350px;
  // min-width: 330px;
}

.card-carousel .my-card.prev, .card-carousel .my-card.next {
  z-index: 2;
  -webkit-transform: scale(0.8) translateY(-1rem) translateX(0);
  transform: scale(0.8) translateY(-1rem) translateX(0);
  opacity: 0.6;
  pointer-events: auto;
  @include transition (1s);
  }
}

.amsterdammertjes-home{
  position: relative;
  width: 100%;
  height: 70vh;
  background-color: #c6040f;
  background-image: linear-gradient(#c6040f, #e20514, #c6040f);
  @include respond-to(iphone678) {height: 100vh;}

  .amsterdammertjes-block{
    box-shadow: 0px 0px 15px rgba(5,5,5,0.3);
    width: 400px;
    height: 475px;
    background-color: white;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 10%;
    text-align: center;
    @include rounded ($big-radius);
    @include respond-to(salto-home) {transform: translate(-50%,-50%); left: 50%; top: 55%; }
    @include respond-to(iphone678) {width: 95vw;}

  }

  h2{
      display: block;
      margin: 0 auto;
      width: 50%;
      border-bottom: 2px solid #c6040f;
      padding-bottom: 10px;
      @include respond-to(iphone678) {width: 70%;}

      }
      p{
        font-size: 16px;
      }
      #salto-logo{
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        left: 10%;
        width: 30vw;
        @include respond-to(salto-home) {  width: 20vw;  transform: translate(-50%,-50%); left: 50%; top: 8%;}
        @include respond-to(iphone678) {top: 20px;  transform: translateX(-50%);}

      }
      #paaltje{
        position: absolute;
        width: 200px;
        transform: translateY(-50%);
        top: 50%;
        right: calc(10% + 300px);
        transition: .3s;
        @include respond-to(salto-home) {transform: translate(-50%,-50%); left: 27%; top: 50%; }
        @include respond-to(iphone678) {display: none;}


      }
}
.copy-amsterdammertjes{
  margin: 70px 70px 20px 70px;

}


footer{
  margin: 0 auto;
  max-width: 1200px;
  height: 300px;
  position: relative;
  font-size: 1.2em;

}
