html, body {
font-family: sans-serif;
 color: #333;
  font-size: 16px;
  /* background-color: red; */
  margin: 0;
  padding: 0;
}
.wrapper{
  margin: 40px auto;
  max-width: 1200px;
}

.video-home{
  background:url("../school-blur.jpg")no-repeat center center fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: auto;

}
.test{
  background-color: blue;
  height: 200px;
  width: 200px;
}



.wrap{
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.nav {
  position: fixed;
  z-index: 3;
  height: 60px;
  width: 100%;
  transition: 300ms ease;
}

.logo {
  float: left;
  line-height: 60px;
  color: white;
  font-weight: 500;
  padding-left: 1rem;
}
.logo span {
  font-size: .9em;
  font-weight: 700;
}
.logo img {
  vertical-align: middle;
  height: calc(60px - 1rem);
  margin-right: .5rem;

}

.top-menu {
  display: block;
  position: relative;
  float: right;
  transition: 200ms ease;
  font-weight: 300;
  height: 60px;
  margin-top: 0px;

}


.top-menu li {
  display: block;
  float: left;
  height: 60px;
}
.top-menu li a {
  display: block;
  height: 60px;
  line-height: 60px;
  text-decoration: none;
  color: #fff;
  padding: 0 1em;
}



.scroll {
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);

}
.scroll .top-menu li a, .scroll .logo {
  color: black;
}

.landing-page-wrapper {
  width: 50vw;
  color: white;
  /* background-color: red; */
  position: absolute;
  transform: translateY(-50%);
  top: 45%;
  left: 14.7%;
}

.landing-page-wrapper > p {
  font-size: 1.2em;
}

.landing-page-wrapper > h1 {
  font-size: 40px;
}

.home-page-btn {
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: #e62686;
  padding: 15px;
  width: 180px;
  text-align: center;
  border-radius: 4px;
  margin-top: 10px;
}

#white-btn {
  background-color: white;
  color: black;
  margin-left: 15px;
}
#red-btn{

  background-color: #c6040f;
  color: white;
}
.projectaanmelden{
  width: 100%;
  height: auto;
  margin: 100px auto;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 10px;
  float: left;
}







.team-member{
  width: 95%;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(10,10,10,0.3);
  text-align: center;
  overflow: hidden;
  transition: .3s;
  height: 400px;

}
.team-member:hover{

  box-shadow: 0px 0px 18px rgba(10,10,10,0.4);
}
.person-img-blur:hover{
  transform: scale(1.2);

}
.beschrijving{
  margin: 0px 30px 20px 30px;
  overflow-x: scroll;
  height: 200px;
}
.person-img{
  height: 200px;
  background-size:cover;
  border-bottom: 1px solid #dddddd;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
}


/* new carousel */

.card-carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.card-carousel .my-card {
  height: 200px;
  width: 350px ;
  position: relative;
  z-index: 1;
  -webkit-transform: scale(0.6) translateY(-2rem);
  transform: scale(0.6) translateY(-2rem);
  opacity: 0;
  cursor: pointer;
  pointer-events: none;
  background: #2e5266;
  transition: 1s;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;

}


.card-carousel .my-card:nth-child(0):before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  /* font-size: 3rem;
  font-weight: 300; */
  color: #fff;

}

.card-carousel .my-card:nth-child(1):before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
}

.card-carousel .my-card:nth-child(2):before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
}

.card-carousel .my-card:nth-child(3):before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
}



.card-carousel .my-card.active {
  z-index: 3;
  -webkit-transform: scale(1) translateY(0) translateX(0);
  transform: scale(1) translateY(0) translateX(0);
  opacity: 1;
  pointer-events: auto;
  transition: 1s;
}

.card-carousel .my-card.prev, .card-carousel .my-card.next {
  z-index: 2;
  -webkit-transform: scale(0.8) translateY(-1rem) translateX(0);
  transform: scale(0.8) translateY(-1rem) translateX(0);
  opacity: 0.6;
  pointer-events: auto;
  transition: 1s;
}


.amsterdammertjes-home{
  position: relative;
  width: 100%;
  height: 95vh;
  background-color: #c6040f;
}
.amsterdammertjes-block{
  box-shadow: 0px 0px 10px rgba(10,10,10,0.3);
  width: 25vw;
  height: 60vh;
  background-color: white;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: 10%;
  text-align: center;
}

.copy-amsterdammertjes{
  margin: 0px 70px 20px 70px;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
}
